# IDE
.idea/

# Symfony (src/)
src/vendor/
src/var/
src/.env.local
src/.env.local.php
src/.env.*.local
src/config/secrets/prod/prod.decrypt.private.php
src/public/bundles/
src/public/assets/
src/assets/vendor/
src/.phpunit.cache/
src/phpunit.xml

# Composer
composer.phar
